ENABLE_DSHIELD=true
DSHIELD_USERID=your_dshield_userid_here
DSHIELD_AUTHKEY=your_dshield_authkey_here
GF_SECURITY_ADMIN_USER=your_grafana_userid_here
GF_SECURITY_ADMIN_password=your_grafana_password_here
